*.kf
*.dds
*.nif
*.log
*.mp3
*.wav
*.rwd
*.png
*.jpg
*.dds
*.vso
*.tga
*.bik
*.exe
*.dll
*.CUR
*.db
*.pdf
*.m3d
*.dat
*.xml
*.flt
*.asi
*.dmp
*.kfm
*.7z
*.zip
*.rar
*.ttc
*.ttf
.idea/*
/.sync.ffs_db
.DS_Store